# Review Sequence Types

## Sequence Types

* `list`
* str
* tuple

## Tuples

Use commas to create a tuple (parens are optional, unless there's potential ambiguity, such as function definition or function call)

In [1]:
a, b, c = 'foo', 'bar', 'baz'

In [2]:
t = 1, 2, 3

In [3]:
x, y, z = t

In [4]:
x

1

In [5]:
y

2

In [6]:
"hi my name is %s and i like eating %s" % ('joe', 'lychees')

'hi my name is joe and i like eating lychees'

In [7]:
artists = ['lil uzi vert', 'lil baby', 'lil nas x', 'lil yachty', 'lil kim', 'joji, 'drake']

SyntaxError: invalid syntax (<ipython-input-7-027ef5f43cbd>, line 1)

In [8]:
artists = ['lil uzi vert', 'lil baby', 'lil nas x', 'lil yachty', 'lil kim', 'joji', 'drake']

In [9]:
artists

['lil uzi vert',
 'lil baby',
 'lil nas x',
 'lil yachty',
 'lil kim',
 'joji',
 'drake']

In [10]:
for ele in artists:
    print(ele)

lil uzi vert
lil baby
lil nas x
lil yachty
lil kim
joji
drake

In [11]:
temp = enumerate(artists)

In [12]:
temp

In [13]:
list(temp)

[(0, 'lil uzi vert'),
 (1, 'lil baby'),
 (2, 'lil nas x'),
 (3, 'lil yachty'),
 (4, 'lil kim'),
 (5, 'joji'),
 (6, 'drake')]

In [16]:
for i, v in enumerate(artists):
    print(i + 1, v)

1 lil uzi vert
2 lil baby
3 lil nas x
4 lil yachty
5 lil kim
6 joji
7 drake

In [17]:
d = {'first':'joe', 'last': 'v', 'room': 422}

In [18]:
for something in d:
    print(something)

first
last
room

In [20]:
for k in d:
    print(k, d[k])

first joe
last v
room 422

In [21]:
for k, v in d.items():
    print(k, v)

first joe
last v
room 422